@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-raleway text-gray-900;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-vidaloka;
  }
}

@layer components {
  .fancy-link {
    @apply relative inline-block pb-1 transition-all duration-300;
  }

  .fancy-link::after {
    @apply content-[''] absolute bottom-0 left-0 w-0 h-0.5 bg-current transition-all duration-300;
  }

  .fancy-link:hover::after {
    @apply w-full;
  }

  .fancy-link.--white {
    @apply text-white;
  }
}

/* Embla Carousel Styles */
.embla {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex;
}

.embla__slide {
  @apply flex-[0_0_100%] min-w-0;
}

.embla__buttons {
  @apply flex gap-4 justify-center mt-4;
}

.embla__button {
  @apply w-12 h-12 rounded-full bg-black/20 hover:bg-black/40 transition-colors flex items-center justify-center disabled:opacity-30 disabled:cursor-not-allowed;
}

.embla__dots {
  @apply flex gap-2 justify-center mt-4;
}

.embla__dot {
  @apply w-3 h-3 rounded-full bg-black/30 hover:bg-black/50 transition-colors cursor-pointer;
}

.embla__dot.is-selected {
  @apply bg-black;
}