---
import BaseLayout from '../layouts/BaseLayout.astro';
import YouTube from '../components/YouTube.astro';
import EmblaCarousel from '../components/EmblaCarousel.astro';

// Web Trio Series Episodes
const webTrioSlides = [
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607895/web_trio_series_luqlsm.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251866/web_trio_series_pvy2k5.jpg',
    alt: 'Web Trio Series Intro Flyer'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/13th_MAY_l4s8ri.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251866/13th_MAY_rk80hd.png',
    alt: 'Web Trio Series, 13th May 2020 - Demystifying Suladi',
    caption: 'Web Trio Series, 13th May 2020 - Demystifying Suladi',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/MALE_20TH_MAY_jzobqg.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251869/MALE_20TH_MAY_e5i6lc.png',
    alt: 'Web Trio Series, 20th May 2020 - Reflections of a Male Dancer',
    caption: 'Web Trio Series, 20th May 2020 - Reflections of a Male Dancer',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/27_MAY_n1pyg4.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251866/27_MAY_qb5tdu.png',
    alt: 'Web Trio Series, 27th May 2020 - From the side podium to center stage',
    caption: 'Web Trio Series, 27th May 2020 - From the side podium to center stage, expressing thoughts on Music for Abhinaya & Abhinaya in Music',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_3RD_vnq2rg.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251869/JUNE_3RD_vz35rh.png',
    alt: 'Web Trio Series, 3rd June 2020 - Darpana - A Reflection',
    caption: 'Web Trio Series, 3rd June 2020 - Darpana - A Reflection, Deshi/Dasa Pantha - Regional and Dasa literature, Duti - Dutikarmaprakasha',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_10TH_alqy31.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251869/JUNE_10TH_txpfze.png',
    alt: 'Web Trio Series, 10th June 2020 - Bharata Nrityam',
    caption: 'Web Trio Series, 10th June 2020 - Bharata Nrityam - Tracing its path from the delta to its source',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_17TH_BANI_GHARANA_FINAL_g1lfg7.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251870/JUNE_17TH_BANI_GHARANA_FINAL_uwwqqi.png',
    alt: 'Web Trio Series, 17th June 2020 - Bani/Gharana Concepts',
    caption: 'Web Trio Series, 17th June 2020 - Bani/Gharana Concepts & Interpretations or Cloning & Geometry',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/JUNE_24_cjii6q.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251869/JUNE_24_qife1o.png',
    alt: 'Web Trio Series, 24th June 2020 - Shades in Abhinaya',
    caption: 'Web Trio Series, 24th June 2020 - Shades in Abhinaya',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/JULY_1_sck2am.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251868/JULY_1_anpkab.png',
    alt: 'Web Trio Series, 1st July 2020 - Aalaya Nartaki - Temple Dancer',
    caption: 'Web Trio Series, 1st July 2020 - Aalaya Nartaki - Temple Dancer',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/JULY_8TH_jfty6d.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251869/JULY_8TH_vh40um.png',
    alt: 'Web Trio Series, 8th July 2020 - Romance - Tradition - Cool Factor',
    caption: 'Web Trio Series, 8th July 2020 - Romance - Tradition - Cool Factor',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/JULY_15TH_gitzrp.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251868/JULY_15TH_wuw3zs.png',
    alt: 'Web Trio Series, 15th July 2020 - Inspiring Youngsters',
    caption: 'Web Trio Series, 15th July 2020 - Inspiring Youngsters speak about Tradition and Transformation',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/22ND_JULY_xwexjs.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251870/22ND_JULY_ewco4p.png',
    alt: 'Web Trio Series, 22nd July 2020 - Perspectives from the camera',
    caption: 'Web Trio Series, 22nd July 2020 - Perspectives from the other side of the camera - Relationship between a moving body and the lens',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/AUGUST_5TH_t5unz3.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251870/AUGUST_5TH_gikgx9.png',
    alt: 'Web Trio Series, 5th August 2020 - The Love Triangle',
    caption: 'Web Trio Series, 5th August 2020 - The Love Triangle ... My 2 Artforms and Me',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/AUGUST_12TH_hibsbm.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251868/AUGUST_12TH_mr4beq.png',
    alt: 'Web Trio Series, 12th August 2020 - play .. pause .. play',
    caption: 'Web Trio Series, 12th August 2020 - play .. pause .. play The Masks the non-dancer - the performer - the teacher',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/19TH_AUGUST_y6iewh.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251868/19TH_AUGUST_bawvv6.png',
    alt: 'Web Trio Series, 19th August 2020 - The artist, the art & the thematic',
    caption: 'Web Trio Series, 19th August 2020 - The artist, the art & the thematic',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/AUGUST_26TH_j1k8rn.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251870/AUGUST_26TH_qbnosy.png',
    alt: 'Web Trio Series, 26th August 2020 - Cross Training',
    caption: 'Web Trio Series, 26th August 2020 - Cross Training: Reflections on the mind, body and personality',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/SEPT_2ND_eqtmj6.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251870/SEPT_2ND_mufasw.png',
    alt: 'Web Trio Series, 2nd September 2020 - Remembering KJ Sarasa Teacher',
    caption: 'Web Trio Series, 2nd September 2020 - Remembering KJ Sarasa Teacher',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607895/SEPT_9TH_v8gfnr.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251871/SEPT_9TH_ykcarp.png',
    alt: 'Web Trio Series, 9th September 2020 - Prof Bharat Gupt',
    caption: 'Web Trio Series, 9th September 2020 - Prof Bharat Gupt: Vedic Origin of Murthy Worship Through Pindi Bandhas. Evidence from Natyashastra.',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/SEPT_16TH_rncb8j.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251870/SEPT_16TH_zyj6lg.png',
    alt: 'Web Trio Series, 16th September 2020 - Musical Journey of a DJ',
    caption: 'Web Trio Series, 16th September 2020 - Musical Journey of a DJ',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/23RD_SEPT_fwaa57.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251866/23RD_SEPT_cjw1yk.png',
    alt: 'Web Trio Series, 23rd September 2020 - Dr MA Alwar',
    caption: 'Web Trio Series, 23rd September 2020 - Dr MA Alwar - Upanayanam: Vedic Perspective; Significance in our lives; Meaning of the Gayathri Mantra',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/30_SEPT_yds4pc.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251868/30_SEPT_puv1r9.png',
    alt: 'Web Trio Series, 30th September 2020 - Padma Shree Smt. Kanaka Srinivasan',
    caption: 'Web Trio Series, 30th September 2020 - Padma Shree Smt. Kanaka Srinivasan: Sri Vazhuvoor Ramaiah Pillai - The Vazhuvoor Bani - The Lineage',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/OCT_7TH_zdmpti.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251869/OCT_7TH_q1hlbr.png',
    alt: 'Web Trio Series, 7th October 2020 - Hinduism',
    caption: 'Web Trio Series, 7th October 2020 - Sri Ubhaya Vedantacharya Ayee Narasimhan Swami Melkote - Hinduism: History, Philosophy, Culture',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/OCT_14TH_ko1cag.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251871/OCT_14TH_dy37g5.png',
    alt: 'Web Trio Series, 14th October 2020 - Story of two Cultures',
    caption: 'Web Trio Series, 14th October 2020 - Story of two Cultures: Sharon Lowen, Monica Cooley, Barbara Framm',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/OCT_21_kpv0ov.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251869/OCT_21_o3pyli.png',
    alt: 'Web Trio Series, 21st October 2020 - Navrathri',
    caption: 'Web Trio Series, 21st October 2020 - Navrathri: Stories, Philosophy, Aesthetics - Arjun Bharadwaj, Contributing Editor, Prekshaa Pratishtana, Bangalore',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/28_OCT_fyw644.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251867/28_OCT_otl1gj.png',
    alt: 'Web Trio Series, 28th October 2020 - Poetry and Mysticism',
    caption: 'Web Trio Series, 28th October 2020 - Poetry, Interpretation and Mysticism through the Tevaram of Tirugnyanasambandar: S Jayachandran, IIIT Hyderabad',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607894/NOV_4TH_rr1tt8.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251867/NOV_4TH_qi5ipw.png',
    alt: 'Web Trio Series, 4th November 2020 - Bhagavath Geeta',
    caption: 'Web Trio Series, 4th November 2020 - Bhagavath Geeta for the Modern Youth: Swami Chidananda',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607891/11TH_NOV_k5j7ya.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251866/11TH_NOV_u5faev.png',
    alt: 'Web Trio Series, 11th November 2020',
    caption: 'Web Trio Series, 11th November 2020 - Dr Suma Sudhindra, Uday Shankar, Vishnu R',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/18TH_NOV_qfpvau.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251866/18TH_NOV_ankvo9.png',
    alt: 'Web Trio Series, 18th November 2020 - Menstruation and Hinduism',
    caption: 'Web Trio Series, 18th November 2020 - Menstruation and Hinduism: Vedic Perspective, Hindu Practices, Ayurveda - Nithin Sridhar',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/25TH_NOV_yviitl.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251867/25TH_NOV_umhmeq.png',
    alt: 'Web Trio Series, 25th November 2020 - Holistic Wellbeing',
    caption: 'Web Trio Series, 25th November 2020 - Holistic Wellbeing: Pranayama, Nadi Pariksha, Holistic Cooking',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/DEC_2ND_hfzkqp.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251867/DEC_2ND_qxntq9.png',
    alt: 'Web Trio Series, 2nd December 2020 - Three Vazhuvoor Artists',
    caption: 'Web Trio Series, 2nd December 2020 - Three Vazhuvoor Artists - Smt Jayanthi Ramachandra, Chandrika Chandran, Sunitha Raj',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1630386237/dec-9th-2020_pejzvo.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251868/dec-9th-2020_ogbl9c.png',
    alt: 'Web Trio Series, 9th December 2020 - Versatility in Musicians',
    caption: 'Web Trio Series, 9th December 2020 - Versatility in Musicians',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/DEC_16_kp8uc2.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251867/DEC_16_dvwoud.png',
    alt: 'Web Trio Series, 16th December 2020 - Andal Avataram',
    caption: 'Web Trio Series, 16th December 2020 - Andal Avataram and Marghazhi month, Andal Hymns & Essence, Bondage of Jeevatman and Paramatman: Smt Prabhamani Srivathsan',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607892/23RD_DEC_kntiyw.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251867/23RD_DEC_puixyv.png',
    alt: 'Web Trio Series, 23rd December 2020 - Christmas',
    caption: 'Web Trio Series, 23rd December 2020 - Christmas - Origin, Tradition, Practice, Scriptural, Christmas Tree & Santa Claus: Raju Alex, Parish Priest, Begumpet, Hyderabad',
    link: 'https://www.instagram.com/icfabengaluru/'
  },
  {
    webp: 'https://res.cloudinary.com/driyengar/image/upload/v1629607893/DEC_3OTH_ivu2ha.webp',
    jpg: 'https://res.cloudinary.com/driyengar/image/upload/v1631251870/DEC_3OTH_ll8wjk.png',
    alt: 'Web Trio Series, 30th December 2020 - Rhythm',
    caption: 'Web Trio Series, 30th December 2020 - Rhythm: Grammar of Rhythm, Rhythm in Carnatic Music, Rhythm in Classical Dance - Anoor R. Anantha Krishna Sharma',
    link: 'https://www.instagram.com/icfabengaluru/'
  }
];
---

<BaseLayout title="Web Trio Series | Seshadri Iyengar">
  <!-- Introduction Section -->
  <div class="bg-white py-16 lg:py-24 transform -skew-y-2 origin-bottom-left">
    <div class="container mx-auto px-4 transform skew-y-2">
      <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl lg:text-5xl font-vidaloka font-bold text-center mb-12">
          Web Trio Series
        </h1>
        
        <div class="space-y-6 text-lg leading-relaxed">
          <p>
            The pandemic of 2020 triggered the idea of taking the activities online.
            An impulsive thought gave birth to the trio concept and thus emerged the
            web trio series hosted by ICFA on Instagram. Keeping ICFA's objective of
            promoting process driven activities in mind, several topics were coined.
            The uniqueness of this series was to present 3 artists share their
            individual journeys concerning a topic or to have one artist speak about
            the topic from 3 different perceptive. The series took to screen between
            13th May and 30th December, and a total of 34 episodes were presented
            live, one on each Wednesday between 7pm and 8pm IST.
          </p>
          
          <p>
            A total of 80 artists have been presented through these series to date.
            The subjects were of a wide spectrum of disciplines and practises;
            Classical dance, Indian Heritage, Christmas, Hinduism, Innovative
            instruments, DJ, Philosophy, Literature, Choreography, Yoga, martial arts,
            Ayurveda, Ariel act, Photography, Gender in dance .. etc.
          </p>

          <p>
            Some artists of repute to mention a few…<br />
            Lalitha Srinivasan, The Dhananjayans, Kanaka Srinivasan, Dr.
            RV.Raghavendra, MA Alwar, P Ramaa, Sudha Raghuraman, Dr. Suma Sudheendra,
            Pushkala Gopal, Guru Savithri Jagannath Rao, Minal Prabhu, Anoor R Anantha
            Krishna Sharma, Rathna Kumar, Bharat Gupt to mention a few.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- YouTube Video Section -->
  <div class="bg-gray-100 py-16">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto">
        <YouTube videoId="Gni2oJO-dHo" />
      </div>
    </div>
  </div>

  <!-- Web Trio Series Carousel -->
  <div class="bg-white py-16 lg:py-24">
    <div class="container mx-auto px-4">
      <EmblaCarousel slides={webTrioSlides} contain={true} showCaptions={true} showLinks={true} />
    </div>
  </div>

  <!-- Back to ICFA Link -->
  <div class="bg-gray-100 py-8">
    <div class="container mx-auto px-4 text-center">
      <a href="/icfa" class="fancy-link text-xl font-bold inline-block">
        Back to ICFA
      </a>
    </div>
  </div>
</BaseLayout>