---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroFixed from '../components/HeroFixed.astro';
---

<BaseLayout title="Workshops | Seshadri Iyengar">
  <HeroFixed
    text="Workshops"
    heroDesk="url('https://res.cloudinary.com/driyengar/image/upload/v1628862682/WORKSHOP-Collage_hqthea.png')"
    heroTab="url('https://res.cloudinary.com/driyengar/image/upload/v1628862682/WORKSHOP-Collage_hqthea.png')"
    heroMob="url('https://res.cloudinary.com/driyengar/image/upload/v1628862682/WORKSHOP-Collage_hqthea.png')"
  />

  <div class="bg-white py-24">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto space-y-6">
        <h1 class="text-4xl font-vidaloka mb-8">Workshops</h1>
        <p class="text-lg leading-relaxed">
          He is known for his spontaneous innovative ability to choreograph abstract and
          content-based works of both contemporary and traditional origin.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>