---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroFixed from '../components/HeroFixed.astro';
---

<BaseLayout title="Training | Seshadri Iyengar">
  <HeroFixed
    text="Training"
    heroDesk="url('https://res.cloudinary.com/driyengar/image/upload/v1631213586/training_uifyui.jpg')"
    heroTab="url('https://res.cloudinary.com/driyengar/image/upload/v1631213586/training_uifyui.jpg')"
    heroMob="url('https://res.cloudinary.com/driyengar/image/upload/v1631213586/training_uifyui.jpg')"
  />

  <div class="bg-white py-24">
    <div class="container mx-auto px-4">
      <div class="max-w-4xl mx-auto space-y-6">
        <h1 class="text-4xl font-vidaloka mb-8">Training at ICFA</h1>
        <p class="text-lg leading-relaxed">
          On-going classes are held in Bharatnatyam, Yoga and Body Kinetics at ICFA.
        </p>
        <p class="text-lg leading-relaxed">
          Holistic Approach - Introduction to the technique and grammar of dance,
          Yoga asana - awareness towards the body, breath etc.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>